<%= stylesheet_link_tag "teacher_questions", :media => "screen and (min-width:576px)" %>


<div id="question-index">
  <h5 class="pt-2 text-center">質問一覧</h5>
  <%= render "index", questions: @questions%>
</div>
    
