<div class="jumbotron">
  <h1 class="display-4 text-center">Crama</h1>
  <p class="lead">Cramaは生徒と講師が利用できるプラットフォームサービスです。生徒は質問投稿やファイルの確認などができます。講師はファイル作成や授業記録管理などができます。</p>
  <hr class="my-4">
  <div class="row text-center">
    <div class="col-md-6">
      <p>生徒の方はこちらからログインできます</p>
      <a class="btn btn-primary btn-lg" href="/students/sign_in" role="button">生徒としてログイン</a>
    </div>
    <div class="col-md-6">
      <p>講師の方はこちらからログインできます</p>
      <a class="btn btn-primary btn-lg" href="/teachers/sign_in" role="button">講師としてログイン</a>
    </div>
  </div>
  
</div>
