<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card">
      <div class="card-header text-center">
        <div>
          <%= current_student.last_name %>さんのファイル一覧
        </div>
      </div>
      <div class="card-body text-center">
        <table class="table table-bordered">
          <thead>
            <tr class="table-info">
              <th scope="col" class="text-nowrap">授業日</th>
              <th scope="col" class="text-nowrap">科目</th>
              <th scope="col" class="text-nowrap">ファイル</th>
            </tr>
          </thead>
          <tbody>
            <% @lessons.each do |lesson| %>
              <tr>
                <td class="text-nowrap"><%= lesson.lesson_date.strftime('%m月%d日') %></td>
                <td class="text-nowrap"><%= lesson.subject %></td>
                <td class="text-nowrap"><%= link_to "詳細", student_report_path(current_student, lesson), class: "btn btn-outline-dark" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
