.question-box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.question-box p {
    margin: 0; 
    padding: 0;
}

#question-index h5 {
    background-color: rgba(0, 0, 255, 0.2);
    border-left:double blue;
    border-bottom: thin solid blue;
}