<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ml-3" href="/teachers/<%= current_teacher.id %>">Mypage</a>
  <button class="navbar-toggler collapased" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      
      <%# ドロップダウン%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/teachers/<%= current_teacher.id %>/reports">ファイル一覧</a>
          <a class="dropdown-item" href="/teachers/<%= current_teacher.id %>/reports/new">ファイル作成</a>
          <a class="dropdown-item" href="/students/">生徒一覧</a>
          <a class="dropdown-item" href="#">生徒の質問を見る</a>
          <a class="dropdown-item" href="/teachers/profile_edit">講師情報の修正</a>
          <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      
    </ul>
  </div>
</nav>